/*
------------------------------------------------------------------
[Heading]

Application:	Vitality
Version:		1.0.0
Date Modified:  09/27/2017
Author URI:		http://github.com/alberttamayo04
Author:			Mark Tamayo
------------------------------------------------------------------
*/


// base styles
// ----
@for $i from 1 through 5 {
	h#{$i} {
		@extend %h#{$i};
	}
}
