/*
------------------------------------------------------------------
[Login Page]

Application:	Vitality
Version:		1.0.0
Date Modified:  09/27/2017
Author URI:		http://github.com/alberttamayo04
Author:			Mark Tamayo
------------------------------------------------------------------
*/


// base styles
// ----
.register {
	@extend .login;

	.registration-form {
		@extend .login-form;

		.container {
			max-width: $tablet-portrait;

			@media screen and (max-width: $mobile-landscape) {
				max-width: 100%;
			}
		}

		a {
			color: $brand-primary;
		}

		h1 {
			margin-bottom: 0;
			color: $brand-primary;
			font-size: $font-size-h3;
		}

		h1,
		form {
			padding:  20px;
			border: 1px solid darken($gray-lighter, 5%);
		}

		form {
			border-top: none;

			input:not([type=submit]) {
				background: transparent;
			}
		}
	}
}
