.f-item-group {
	@include clearfix;
	margin-top: 3rem;
	margin-bottom: 3rem;
	padding-bottom: 3rem;
	border-bottom: 1px solid map-get($colors, light);

	&:last-child {
		border-bottom: 0;
		margin-bottom: 0;
	}

	& ~ & {
		margin-top: 0;
	}

	& > & {
		padding-bottom: 1.5rem;
		margin-bottom: 1.5rem;
		border-bottom: 0;

		&:first-of-type {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}

	&#list {
		ul,
		ol {
			margin: 0 0 10px 30px!important;
		}
	}

	.f-control {
		&:first-child {
			margin: 0 2px 0 1px!important;
		}
	}
}

.f-item-code {
	margin-top: 2rem;
}

.f-item-preview {
	@include clearfix;

	.alert {
		margin: 10px 0;

		&:first-of-type {
			margin-top: 0;
		}

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	.breadcrumb {
		margin-bottom: 0;
	}

	[class^="btn"] {
		margin: 0 4px 0 0;
	}

	& >p {
		margin-bottom: 0;
	}

	form {
		max-width: 900px;

		&.form-horizontal {
			.form-group {
				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}
	}

	.modal-dialog {
		margin: 0;

		.modal-content {
			box-shadow: none!important;
		}

		[class^="btn"] {
			margin: 0;
		}
	}

	.navigation {
		margin-bottom: 0;
	}

	.pagination {
		margin: 0;
	}

	.panel {
		max-width: 420px;
	}

	.table {
		&:first-of-type {
			margin-bottom: 10px;
		}
	}

	.wizard {
		margin-bottom: 0;
	}
}

.f-item-border-bottom {
	border-bottom: 1px solid map-get($colors, light);
}

.f-item-heading-group {
	@include clearfix;
	margin-bottom: 2rem;
	vertical-align: middle;
}

.f-item-heading {
	margin-top: 0;
	margin-bottom: 0;
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
	font-size: 1.5rem;
	font-weight: 600;
}


.f-item-controls {
	display: inline-block;
	vertical-align: middle;
	margin-left: 0.5rem;

	.f-control {
		width: 16px;
		height: 16px;
		display: block;
		float: left;

		&:hover {
			use {
				fill: map-get($colors, normal);
			}
		}

		use {
			fill: map-get($colors, light);
		}
	}
}

.f-item-hidden {
	display: none;
}

.f-item-notes {
	font-size: 1.25rem;
}
